.p-3{
    list-style: none;
}

.form-group{
 margin-top: 10%;   
}
.escudo{
    margin-right: 1%;
}
 .box{
     float: inherit;
 }

 .row{
     margin-top: 5%;
 }

 .align-items-end,col-sm{
    display: flex;
    align-items: center;

    margin-right:auto
 }
.inputfile{
    ancho : 0.1px ;
	altura : 0.1px ;
	opacidad : 0 ;
	desbordamiento : oculto;
	posición : absoluta;
	
}
 